*{
    margin: 0;
    padding: 0;
}
.box{
    width: 500px;
    /* height:900px; */
    background-color: aqua;
    border: 2px solid #000;
    margin-left: 50px;
    margin-top: 50px;
    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */
    padding: 100px;
    box-sizing: border-box;
}
.box2{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    color: #FFF;
    display: inline;
}
.text1{
    background-color: red;
    margin: 100px;
    padding: 20px;
    display: inline-block;
}