/*mobile first*/
@media (min-width: 576px) {
  /* nav {
    margin-right: 20px;
  } */

  nav li {
    margin: 0;
  }
  .post-card-component {
    min-width: 300px;
  }
  .posts-container {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .header-inner {
    flex-direction: row;
  }
  .head-left-col {
    order: 0;
    margin: 0;
  }
  .head-right-col {
    flex-direction: row;
  }
  nav {
    order: 0;
    margin-top: 0;
    margin-right: 10px;
  }
}
