* {
  margin: 0;
  padding: 0;
}
.flex-container {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 700px;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center;
  align-items: center;
  align-content: center; */
  /* 
  flex-direction: column; */
}
.flex-item {
  width: 200px;
  background-color: #999;
  border: 2px solid #000;
  margin: 20px;
  text-align: center;
  font-size: 36px;
  box-sizing: border-box;
}
.flex-item-1 {
  height: 100px;
  /* align-self: center; */
}
.flex-item-2 {
  height: 200px;
  width: 40px;
  /* align-self: flex-end; */
}
.flex-item-3 {
  height: 300px;
  width: 150px;
  /* align-self: flex-start; */
}
.flex-item-4 {
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  /* align-self: center; */
}
.flex-item-4 div {
  background-color: red;
  margin: 5px;
}
.flex-item-5 {
  height: 100px;
}
.flex-item-6 {
  height: 150px;
  width: 400px;
}
.flex-item-7 {
  height: 300px;
}
.flex-item-8 {
  height: 400px;
}
