*{
    margin: 0;
    padding: 0;
}
table{
    border:2px solid red;
} 
td{
    border:2px solid #000;
}
.bg-gray{
    background-color: #ccc;
}
tr:nth-child(odd){
    background-color: #999;
}
tr:first-child{
    font-weight: bold;
    background-color: #000;
    color: #FFF;
}
tr:last-child{
    font-weight: bold;
    background-color: #000;
    color: #FFF;
    text-decoration:underline;
    text-align: center;
}
tr:hover{
    background-color: aquamarine;
}
tr:first-child:hover{
    background-color: #000 !important;
}
tr:last-child:hover{
    background-color: #000 !important;
}
tr:hover{
    border: 2px dashed blue;
    /* display: none; */
    
}
tr{
    visibility: hidden;
    /* display: none; */
}